@model PizzaBox.Client.Models.Order

<form asp-controller="Store" asp-action="StoreSelected" method="post">
    <div hidden="hidden">
        @Html.EditorForModel()
        @Html.EditorFor(model => model.Customer)
    </div>

    <select asp-for="Store.ID" asp-items="ViewBag.Stores"></select>
    <br /><button type="submit">Pick</button>
</form>


@{
}
