@model PizzaBox.Client.Models.OrderItem

@{
}


<form asp-controller="Pizza" asp-action="ToppingSelected" method="post">
    <select asp-for="ToppingType" asp-items="ViewBag.ToppingTypes"></select>
    @{

    }
    <input type="submit" value="Select Topping" />
</form>